
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family:sans-serif, 'Segoe UI', Tahoma, Verdana,'Times New Roman', Times, serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #f5f3f3;
 
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
